<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOoq38eK13iCzRJ_XNt5U6lMZLV3Hyq78pbg&usqp=CAU" class="w-100" alt="">

<div class="p-3">
    <h3 class="bg-muted mb-0 ">{{'approveClining' | translate}}</h3>
<mat-card>
    <mat-card-content>
        <h4>{{'searchCirteria' | translate}}</h4>
        <hr>
        <form [formGroup]="form" (ngSubmit)="accountCriteriaformSubmit()">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4  ">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>{{'cRNumber' | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="crnumber">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                    <div class="row">
                        <div class="col-md-3">
                            <span>{{"status" | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select" aria-label="Default select example" formControlName="status">
                                <option value="" selected disabled hidden>{{'selectOne' | translate}}</option>
                                <option value="pending">{{'pendingApproval' | translate}}</option>
                                <option value="pending">{{'rejectApproval' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4  ">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>{{'agencyName' | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="agencyname">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4  ">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>{{'establishmentId' | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="establishmentid">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4  ">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>Custom code</span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="customCode">
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4  ">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>{{'creationDate' | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field appearance="fill" class="d-block">
                                <input matInput [matDatepicker]="dp1"  (dateChange)="updateDOB($event, 'dateCreation')">
                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker #dp1></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4  ">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>{{'creationDateto' | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field appearance="fill" class="d-block">
                                <input matInput [matDatepicker]="dp3" (dateChanges)="updateDOB($event, 'dateCreationto')" >
                                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>{{'clearingAgencyType' | translate}}</span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select" aria-label="Default select example"
                                formControlName="agencytype">
                                <option value="" selected >{{'ALL' | translate}}</option>
                                <option value="goverment">{{'goverment' | translate}}</option>
                                <option value="private">{{'private' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 bg-muted p-2">
                    <div class="">
                        <button mat-raised-button class="me-3" type="submit">{{'search' | translate}}</button>
                        <button mat-raised-button type="button" (click)="form.reset()">{{'reset' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
</div>

<app-table [tableArr]="tableArr"></app-table>